.hidden{
  display: none;
}

.mypanel{
  margin: auto;
  margin-top: 25px;
  border-radius: 6px;
  background-color: rgb(22, 22, 22);
  box-shadow: 15px 15px 10px;
  width: 75%;
  height: 80%;  
}
.navbar-inverse
{ 
  margin: auto;
  border-radius: 5px;
  width: 85%;
  height: 15%; 
}
.timer{
  font-size: 25px;
  margin-left: 45%;
  color: crimson;
}
.gr_police{
  color: rgb(238, 0, 48);
  
}
.gr_police .police{
  background-color: rgb(81, 81, 224);
  font: bold;
}
.gr_police .police_money{
  background-color: rgb(22, 22, 22);
}
.gr_police .police_life{
  background-color: rgb(22, 22, 22);
}

.gr_thief{
  color: rgb(81, 81, 224);
  font: bold;
}
.gr_thief .thief{
background-color: rgb(238, 0, 48);

}
.gr_thief  .thief_money{
  background-color: rgb(22, 22, 22);
}
.gr_thief .thief_life{
  background-color: rgb(22, 22, 22);
}
.btn{
  margin-bottom: 8%;
}